/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: #e8e8e8;
}
 @media screen and (min-width: 600px) { 
    .wrapper {
        margin: 0 auto;
      }
      header {
        height:80px;
        padding-top: 35px;
        background: #333333;
      }
      .grid-6 {
          display: inline-block;
      }
      .title {
          margin-left: 5vw;
          color: #ffffff;
          font-size: 35px;
          text-decoration:none;
          font-family: 'Kaushan Script', cursive;
      }
      .post {
          font-size: 20px;
          margin-left: 2vw;
          color: #ffffff;
          text-decoration: none;
          font-family: 'Noto Serif JP', serif;
      }
      .user_nav {
          margin-left: 50vw;
      }
      .container {
        display: flex;
        min-height: 100vh;
      }
      .main {
        width: 70%;
      }
      .side {
        width: 30%;
      }
      footer {
        background: #111111;
        color: #ffffff;
        text-align:center;
      }
 }


 @media screen and (max-width: 600px) { 
      .wrapper {
        margin: 0 auto;
      }
      header {
        height:60px;
        padding-top: 22px;
        background: #333333;
      }
      .title {
        margin-left: 15vw;
          color: #ffffff;
          font-size: 28px;
          text-decoration:none;
          font-family: 'Kaushan Script', cursive;
      }
      .post {
          color: #ffffff;
          font-size: 12px;
          margin-left: 4vw;
          text-decoration: none;
          font-family: 'Noto Serif JP', serif;
      }
      .user_nav {
          margin-left: 55vw;
          width: 40vw;
      }
      .container {
        display: flex;
        flex-direction: column;
      }
      .main {
        width: 100%;
        min-height: 80vh;
      }
      .side {
        width: 100%;
        min-height: 20vh;
      }
      footer {
        background: #000000;
        color: #ffffff;
      }
 }

 

  
